@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import url(contact.css);
@import url(ec2.css);
@import url(media.css);
@import url(projects.css);
@import url(sponsors.css);
@import url(team.css);

body {
    font-family: "Open Sans",arial,sans-serif;
    background-image: url("../img/QuadBW.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-color: transparent;
    height: 67.5rem;
    width: 120rem;
    z-index:2;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
    position: fixed;
    height: 4rem;
    width:100%;
    top:0;
    max-height: 5rem;
    background-color: #333333;
    border-width: 0;
    opacity: 0.95;
}

#logo {
    position: absolute;
    left: 0;
    width:17rem;
    top:0;
    height: 4rem;
    z-index: 3;
}

#name {
    position: absolute;
    top:0.5rem;
    left:1.8rem;
    height: 2rem;
    width: 5rem;
    z-index: 4;
}

#footer {
    height:4rem;
    background-color: #333;
    width: 100%;
    z-index: 10;
    left:0;
    bottom: 0;
    position: fixed;
    opacity: 0.95;
}

#footer a img {
    box-sizing: border-box;
    margin-top:0.5rem;
    height: 3rem;
    width: 3rem;
    left: 0;
    position: relative;
}
